* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* background: linear-gradient(to bottom, #F6F8FF, #CED3E7); */
  color: #0D1B3D;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.logo img {
  height: 40px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav li {
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: 0.2s ease;
}

.nav li.active {
  font-weight: bold;
  border-bottom: 2px solid #0D1B3D;
}

.heart-icon img {
  height: 30px;
}

/* Hamburger button (hidden on desktop) */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #0D1B3D;
}

/* Mobile menu overlay */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px 40px 20px;
  transition: left 0.3s ease;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 28px;
  cursor: pointer;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  width: 100%;
}

.mobile-menu li {
  text-align: left;
  padding: 8px 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mobile-menu li.active {
  font-weight: bold;
  border-bottom: 2px solid #0D1B3D;
}

.heart-icon-mobile {
  margin-top: 40px;
}

.heart-icon-mobile img {
  height: 35px;
}

/* Responsive rules */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .heart-icon {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
 
}
.frameclass{
  
  max-height: 835px;
}
@media (max-width: 768px){
  .frameclass{
  width: 100%;
  max-height: 835px;
}
}
 
.hero {
  text-align: center;
  padding-top: 80px;
  background: linear-gradient(to bottom, #F6F8FF, #CED3E7);
  /* overflow: hidden; */
  max-height: 835px;
}

.hero .content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: 0 auto;
}

.hero .content h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.hero .content p {
  font-size: 16px;
  color: #444;
}
